body {
  background: #f4f4f4;
  color: #555;
  font: normal 16px verdana;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background: coral;
  color: white;
}

#navbar {
  background: darkgrey;
  color: white;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#showcase {
  background: url(../images/Coral.jpg);
  background-position: center right;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#sidebar {
  float: left;
  width: 70%;
  background: #333;
  color: white;
  padding: 0 30px;
  box-sizing: border-box;
}

#main-footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #main{
    width: 100%;
    float: none;
  }

  #sidebar{
    width: 100%;
    float: none;
  }

}
